.header-divs{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.header-buttons{  
  padding: 0;
  border: none;
  font: inherit;
  color:  #254B77;
  background-color: transparent;
  #254B77
}
#header-buttons-employees{
  padding: 0;
  border: none;
  font: inherit;
  color:  #254B77;
  background-color: transparent;
}