#Logo{
	margin-bottom: 50%;
}
#Illustration{
	padding-top: 5%;
}
.Singin{

}
.buttonSignIn{
	background-color: #5541D7;
	color: white;
	font-family: 'Mulish', sans-serif;
	
}
.Main{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
 
  place-items: center;
}
body {
	font-weight: bold;
	font-family: 'Mulish', sans-serif;

}